version: '3.8'
services:
  firewall:
    # On remplace Wallarm par Socat pour faire un "Pass-through" simple
    image: alpine/socat
    container_name: vnf-firewall
    ports:
      - "8080:8080"
    
    command: tcp-listen:8080,fork,reuseaddr tcp:loadbalancer:80
    networks:
      - net-chain

  loadbalancer:
    image: haproxytech/haproxy-alpine
    container_name: vnf-lb
    ports:
      - "9090:80"
    
    networks:
      - net-chain

  webserver:
    image: nginx
    container_name: vnf-web
    ports:
      - "8081:80"
    depends_on:
      - loadbalancer
    networks:
      - net-chain

networks:
  net-chain:
    driver: bridge
